:root {
    --primary: #4569c4;
    --secondary: #182545;
    --padding: 15px;
    --cinza : #404450;
    --cinza-claro: #dedede;
  }

  * {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    font-size: 24px;
  }

  .container {
    max-width: 400px;
    padding: 30px;
    margin: 0 auto;
  }
